<section class="register-block">
  <div class="container">
    <div class="row">
      <div class="col-md-5 register-sec">
        <h2 class="text-center">Register Now</h2>
        <form class="register-form">
          <div class="form-group">
            <label for="exampleInputName1" class="text-uppercase">Name</label>
            <input type="name" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputAddress1" class="text-uppercase">Address Line 1</label>
            <input type="address1" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputAddress2" class="text-uppercase">Address Line 2</label>
            <input type="address2" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputTown1" class="text-uppercase">Town</label>
            <input type="town" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputCountry1" class="text-uppercase">Country</label>
            <input type="country" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputPostCode1" class="text-uppercase">Post Cod/Zip</label>
            <input type="postcode" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputUsername" class="text-uppercase">Username</label>
            <input type="text" class="form-control" placeholder="">

          </div>
          <div class="form-group">
            <label for="exampleInputEmail" class="text-uppercase">Email</label>
            <input type="email" class="form-control" placeholder="">
          </div>
          <div class="form-group">
            <label for="exampleInputPassword1" class="text-uppercase">Password</label>
            <input type="password" class="form-control" placeholder="">
          </div>



          <div class="form-check">
            <button type="submit" class="btn btn-register float-right">Submit</button>
          </div>

        </form>

      </div>
      <div class="col-md-7 banner-sec">
      </div>
    </div>
  </div>
</section>