<body>
  <!-- Nav -->
  <nav class="navbar navbar-default" role="navigation">
    <div class="container">
      <!-- LOGO -->
      <a class="navbar-brand page-scroll" href="index.html"><i class="fa fa-heartbeat" aria-hidden="true"></i>
        Pharma<span class="text-blue text-light">Doc</span></a>
      <!-- END / LOGO -->

      <div class="navbar-header page-scroll">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>

      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse navbar-ex1-collapse">
        <ul class="nav navbar-nav navbar-right">
          <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
          <li class="hidden">
            <a class="page-scroll" href="#page-top"></a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Home</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="index.html">Home Default</a></li>
              <li><a href="home-form.html">Home With Form</a></li>
              <li><a href="index-v2.html">Home Colorful Navigation</a></li>
              <li><a href="index-v3.html">Home Without Slider</a></li>
              <li><a href="https://www.mianfolio.com/kosimedic/v1.3.1/boxed/index.html">Home Boxed</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">About</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="about.html">About us</a></li>
              <li><a href="faq.html">FAQ</a></li>
              <li><a href="testimonials.html">Testimonials</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Doctors</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li class="dropdown dropdown-submenu"><a href="#" class="dropdown-toggle" data-toggle="dropdown">Doctors
                  <i class="fa fa-angle-down" aria-hidden="true"></i></a>
                <ul class="dropdown-menu">
                  <li><a href="doctors.html">Doctors</a></li>
                  <li><a href="doctor-profile.html">Doctor Profile</a></li>
                </ul>
              </li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Departments</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="departments.html">Departments</a></li>
              <li><a href="department-single.html">Department Single</a></li>
            </ul>
          </li>
          <li>
            <a href="timetable.html">Timetable</a>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Feautures</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="buttons.html">Buttons</a></li>
              <li><a href="tabs.html">Tabs</a></li>
              <li><a href="typography.html">Typography</a></li>
              <li><a href="icons.html">Icons</a></li>
              <li><a href="grid.html">Grids</a></li>
              <li><a href="alerts.html">Notifications</a></li>
              <li><a href="404.html">404</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
              aria-expanded="false">Blog</a>
            <ul class="dropdown-menu dropdown-menu-left">
              <li><a href="blog.html">Blog</a></li>
              <li><a href="blog-single.html">Blog Single</a></li>
            </ul>
          </li>
          <li>
            <a href="contact.html">Contact</a>
          </li>
        </ul> <!-- END / NAVBAR RIGHT -->
      </div>
    </div> <!-- END CONTAINER -->
  </nav>
  <!-- ./end Nav -->

  <section class="gardient-bg-small">
    <div class="container">
      <h1 class="pull-left">Doctor Profile</h1>
      <div class="pull-right">
        <ol class="breadcrumb">
          <li><a href="index.html">Home</a></li>
          <li class="active">Doctor Profile</li>
        </ol>
      </div>
    </div>
  </section>

  <section id="doctor-profile" class="default-bg">
    <div class="container">
      <div class="row">
        <div class="col-md-4" *ngFor="let result of results">
          <div class="profile-image">
            <img src="http://localhost:3000/user/image/{{result.id_user.user_image}}" alt="Doctor Profile">
          </div>

          <div class="col-md-8">
            <button type="button" class="btn border medium center " data-toggle="modal" data-target="#exampleModal"
              style="margin-left: 65px;
            ">
              SCHEDULE
            </button>
          </div>
          <br><br>
          <h5 class="mt20"><b>Timming</b></h5>
          <table class="table table-striped" *ngFor=" let Schedules of result.Schedule ">
            <tr>
              <td>{{Schedules.day}}</td>
              <td>{{Schedules.Time_Of_Opening}}h – {{Schedules.Time_Of_Closing}}h</td>
            </tr>

          </table>
        </div>

        <!-- <a class="btn border medium" (click)= "goToTimeTable()">Button</a> -->

        <div class="col-md-8" *ngFor="let result of results">
          <div class="row">
            <div class="col-md-8">
              <h3 class="text-blue">Dr. {{result.id_user.first_name}} {{result.id_user.last_name}}</h3>
            </div>
            <div class="col-md-4">
              <button type="button" class="btn border medium center " data-toggle="modal" data-target="#exampleModal1">
                EDIT PROFILE
              </button>
            </div>
          </div>
          <p>{{result.specialty}}</p>
          <p class="mt20">Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum
            which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour,
            or non-characteristic words etc.</p><br>
          <p>It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages, and
            more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.</p>
          <br>
          <div class="panel-group" id="accordion">

            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" routerLink="/doctor/dhasboard/{{result._id}}"><i
                      class="fa fa-envelope-o" aria-hidden="true" ></i>Check all Appointments</a>

                </h4>
              </div>
            </div>
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion"><i
                      class="fa fa-envelope-o" aria-hidden="true"></i>Check all PartnerShips</a>
                </h4>
              </div>
            </div>


            <!--  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse1"><i class="fa fa-heartbeat"
                      aria-hidden="true"></i>Speciality</a>
                </h4>
              </div>
              <div id="collapse1" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</div>
              </div>
            </div> -->
            <!--  <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse2"><i class="fa fa-medkit"
                      aria-hidden="true"></i>Education</a>
                </h4>
              </div>
              <div id="collapse2" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</div>
              </div>
            </div> -->
            <!--    <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  <a data-toggle="collapse" data-parent="#accordion" href="#collapse3"><i class="fa fa-user-md"
                      aria-hidden="true"></i>Additional Information</a>
                </h4>
              </div>
              <div id="collapse3" class="panel-collapse collapse">
                <div class="panel-body">Lorem ipsum dolor sit amet, consectetur adipisicing elit,
                  sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad
                  minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
                  commodo consequat.</div>
              </div>
            </div> -->
          </div>
        </div>

      </div>
    </div>
  </section>

  <!--   <section id="meet-doctors-wide" class="grey-bg">
    <div class="container">
      <div class="section-title">
        <p class="text-blue animated" data-animation="bounceInLeft">Meet others</p>
        <h2 class="animated" data-animation="bounceInLeft">Doctors</h2>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="doctor-box">
          <img src="./assets/img/doctors/profile-1.jpg" alt="">
          <div class="doctor-box-content">
            <a href="doctor-profile.html">
              <h3>Dr. Marko Doe</h3>
              <p>Dentalist</p>
            </a>
            <p class="doctor-box-info">There are many variations of passages..</p><br>
            <div class="doctor-social">
              <i class="fa fa-phone"></i>
              <i class="fa fa-skype"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="doctor-box">
          <img src="./assets/img/doctors/profile-2.jpg" alt="">
          <div class="doctor-box-content">
            <a href="doctor-profile.html">
              <h3>Dr. Marko Doe</h3>
              <p>Dentalist</p>
            </a>
            <p class="doctor-box-info">There are many variations of passages..</p><br>
            <div class="doctor-social">
              <i class="fa fa-phone"></i>
              <i class="fa fa-skype"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="doctor-box">
          <img src="./assets/img/doctors/profile-3.jpg" alt="">
          <div class="doctor-box-content">
            <a href="doctor-profile.html">
              <h3>Dr. Marko Doe</h3>
              <p>Dentalist</p>
            </a>
            <p class="doctor-box-info">There are many variations of passages..</p><br>
            <div class="doctor-social">
              <i class="fa fa-phone"></i>
              <i class="fa fa-skype"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
          </div>
          </div>
        </div>

        <div class="col-md-4">
          <div class="doctor-box">
          <img src="./assets/img/doctors/profile-2.jpg" alt="">
          <div class="doctor-box-content">
            <a href="doctor-profile.html">
              <h3>Dr. Marko Doe</h3>
              <p>Dentalist</p>
            </a>
            <p class="doctor-box-info">There are many variations of passages..</p><br>
            <div class="doctor-social">
              <i class="fa fa-phone"></i>
              <i class="fa fa-skype"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="doctor-box">
          <img src="./assets/img/doctors/profile-3.jpg" alt="">
          <div class="doctor-box-content">
            <a href="doctor-profile.html">
              <h3>Dr. Marko Doe</h3>
              <p>Dentalist</p>
            </a>
            <p class="doctor-box-info">There are many variations of passages..</p><br>
            <div class="doctor-social">
              <i class="fa fa-phone"></i>
              <i class="fa fa-skype"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="doctor-box">
          <img src="./assets/img/doctors/profile-1.jpg" alt="">
          <div class="doctor-box-content">
            <a href="doctor-profile.html">
              <h3>Dr. Marko Doe</h3>
              <p>Dentalist</p>
            </a>
            <p class="doctor-box-info">There are many variations of passages..</p><br>
            <div class="doctor-social">
              <i class="fa fa-phone"></i>
              <i class="fa fa-skype"></i>
              <i class="fa fa-facebook"></i>
            </div>
          </div>
          </div>
        </div>
      </div>
  </section> -->
  <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
    aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Schedule</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form [formGroup]="DoctorForm">
          <div class="modal-body">
            <div class="form-group col-md-4">
              <mat-form-field>
                <mat-label>Select Day</mat-label>
                <mat-select formControlName="day">
                  <mat-option *ngFor="let Day of Days" [value]="Day.value">
                    {{Day.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field>
                <mat-label>Select Time Of Opening</mat-label>
                <mat-select formControlName="Time_Of_Opening">
                  <mat-option *ngFor="let TimeOfOpening of TimeOfOpenings" [value]="TimeOfOpening.value">
                    {{TimeOfOpening.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
            <div class="form-group col-md-4">
              <mat-form-field>
                <mat-label>Select Time Of Closing</mat-label>
                <mat-select formControlName="Time_Of_Closing">
                  <mat-option *ngFor="let TimeOfClosing of TimeOfClosings" [value]="TimeOfClosing.value">
                    {{TimeOfClosing.viewValue}}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>

          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" (click)="EditDocrtorProfile()" data-dismiss="modal" class="btn btn-primary">Save
              changes</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
  aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content" style="height: 481px">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">EDIT PROFILE</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <form [formGroup]="DoctorFormEdit">
          <div class="form-row">
            <div class="col-md-4 mb-3">
              <label for="validationDefault01">First name</label>
              <input type="text" class="form-control" id="validationDefault01" placeholder="First name">
            </div>
            <div class="col-md-4 mb-3">
              <label for="validationDefault02">Last name</label>
              <input type="text" class="form-control" id="validationDefault02" placeholder="Last name">
            </div>

          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Adress</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Adress">
            </div>
          </div>
          <div class="form-row">
            <div class="col-md-6 mb-3">
              <label for="validationDefault03">Speciality</label>
              <input type="text" class="form-control" id="validationDefault03" placeholder="Speciality" formControlName="specialty">
            </div>
          </div>
          <button class="btn btn-primary" type="submit" style="margin-top: 336px"(click)="EditFormProfile()">Submit form</button>
        </form>
    </div>
  </div>

</div>
  <!-- Footer -->
  <footer>
    <!-- Container -->
    <div class="container">
      <!-- Row Begin -->
      <div class="row">

        <div class="col-md-3">
          <div class="widget">
            <h2 class="logo-font"><i class="fa fa-heartbeat" aria-hidden="true"></i> Kosi<span
                class="text-blue text-light">Medic</span></h2><br>
            <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
          </div>
        </div>

        <div class="col-md-3">
          <div class="widget">
            <h3>Socials <span class="bottom-lin"></span></h3>
            <ul>
              <li>Facebook</li>
              <li>Twitter</li>
              <li>Youtube</li>
              <li>Linkedin</li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="widget">
            <h3>About Us</h3>
            <ul>
              <li><a href="doctors.html">Doctors</a></li>
              <li><a href="departments.html">Departments</a></li>
              <li><a href="timetable.html">Timetable</a></li>
              <li><a href="contact.html">Contact</a></li>
            </ul>
          </div>
        </div>

        <div class="col-md-3">
          <div class="widget">
            <h3>Contact</h3>
            <ul>
              <li>My Street, NY 10036, United States</li>
              <li>Phone: 1-800-555-5555</li>
              <li>Email: example@kosimedic.com</li>
              <li>Office Offers: 09:00am - 17:00pm</li>
            </ul>
          </div>
        </div>
      </div> <!-- ./end Row -->
    </div> <!-- ./end Container -->
    <!-- Footer Copyright -->
    <div class="footer-slogan">
      &copy; 2016 KosiMedic
    </div>
    <!-- ./end Footer Copyright -->
  </footer>
  <!-- ./end Footer -->

  <!-- Scroll to top -->
  <div class="scroll-top">
    <a href="#totop"><i class="fa fa-angle-double-up"></i></a>
  </div>
  <!-- ./end Scroll to top -->
  <!-- Modal -->

</body>
